.Logo {
    text-align: center;
    
}

.clientLogo{
    border-radius: 50%;
}

.Title {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: var(--secondary-color);
}

.subTitle {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 400;
    color: var(--secondary-color);
}

.searchDiv{
    text-align: center;
}

.searchBar{
    width: 100%;
}

.CatTitle{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-color);
}

.cardCat{
    background-color: #fff;
    
    
}

.cardCat:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 500ms;
}

.cardTitle{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--secondary-color);
    
}

.cardContent{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--secondary-color);
}

.catButton{
    background-color: #fff;
    color: var(--secondary-color);
}

.catButton:hover{
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 500ms;
    
}

.catButton:focus{
    background-color: var(--primary-color);
    color: #fff;
    
}

.subCat{
    border: none;
    background-color: #F6F6F6;
}

.subCat:hover{
    border: none;
    background-color: #F6F6F6;
    color: var(--primary-color);
}

.subCat:focus{
    border: none;
    background-color: #F6F6F6;
    color: var(--primary-color);
}

.LinkText{
    text-decoration: none;
}