.Logo {
    text-align: center;
    
}

.clientLogo{
    border-radius: 50%;
}

.Title {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: var(--secondary-color);
}

.subTitle {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 400;
    color: var(--secondary-color);
}

.cardSabor{
    background-color: #fff;
    margin: auto;
        width: 200px;
    @media screen and (max-width: 968px) {

       
        width: 100%;

    }
    
}

.searchDiv{
    text-align: center;
}

.searchBar{
    width: 100%;
}

.LinkText{
    text-decoration: none;
}

.saborImage{
    width: 130px;
    height: 130px;
   
}

.saborButton{
    background-color: var(--primary-color);
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    border-radius: 20%;
    padding: 0 10px;

}

.SaborTitle{
    font-family: "Roboto", sans-serif;

    font-weight: 700;
    font-size: 25px;
    color: var(--secondary-color);
}

.backButton{
    background-color: #fff;
    border-radius: 30%;
    color: var(--secondary-color);
    font-size: 20px;
   
}

.backButton:hover{
   background-color: var(--primary-color);
   color: #fff;
   transition: 500ms;
   
}