.dashboard-container {
    display: flex;
}

.sidebar {
    background-color: #343a40; /* Cor igual ao navbar */
    color: white;
    width: 250px;
    height: 100vh;
    padding: 20px;
    transition: transform 0.3s ease;
}

.sidebar h6{
    font-size: 20px;
    font-weight: 700;
}

.sidebarLink{
    text-decoration: none;
    color: rgb(177, 177, 177);
}

.sidebarLink:hover{
    color: rgb(126, 126, 126);
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.navButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
