.footer{
    
    background-color: white; ;
    text-align: center;
    height: 70px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    
}


.textMais{
    text-decoration: none;
    color: white;
}

.textMais:focus{
    text-decoration: none;
    color: white;
}

.navFooter{
    padding: 20px 0
}

.iconF{
    height: 22px;
}

.colorActive{
    color: #606060;
    
}