@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #D61616; /* Vari치vel de cor prim치ria */
  --secondary-color: #606060; /* Vari치vel de cor secund치ria */
}

body {
  background-color: #F6F6F6;
}
